@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);

body {
    font-size: 16pt;

    font-family: 'Gochi Hand', cursive;
    background-color: #2b354c;
}

h1 {
    font-size: 96px;
    padding: 0;
    position: absolute;
    left: -5px;
    top: -80px;
    margin-bottom: 10px;
    color: white;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    z-index: -1;
}

#datas {
    background-color: #cce0fd;
    border: thick solid #4c5c79;
    padding: 5px;
    margin: 75px 10px 10px;
    width: 500px;
}

#datas .title {
    margin: 3px;
    float: left;
    z-index: 2;
}

#datas .data {
    margin: 3px;
}

.graph {
    width: 450px;
    height: 30px;
    margin-left: 0;
}

.value {
    width: 25px;
    padding: 3px;
    float: right;
}

th {
    font-size: 18pt;
    color: #525b6b;
}
td {
    color: black;
}

.line {
    fill: #4c5c79;
    stroke: black;
    stroke-width: 2px;
}

